.Heading{
	 -webkit-font-smoothing: antialiased;
	 background-color: #bdbab1;
	 color: Black;
	 text-align: center;
	 border: 2px solid #bdbab1;
	 margin-left: 0px;
	 margin-right: 0px;
}

.TopNav{
	color: violet;
	text-align: center;
	/*background-color: beige; */
	background-color: #f5f5dc;
	border: 1px solid #f5f5dc;

	padding: 5px;
 	padding-size:cover;
}

.What{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

#ExemplarQs{
	text-align: center;
	margin-bottom: 30px;
}

#ExemplarQs li{
	list-style: none;
    padding: 2px;
}

#Courses{
	text-align: center;
	margin-bottom: 50px;
}
#Courses li{
	list-style: none;
    padding: 1px;
}

#PDFs{
	text-align: center;
	margin-bottom: 30px;
}

#PDFs li{
	list-style: none;
    padding: 2px;
}

#Youtube_{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 50px;

}

#Youtube_ li{
	list-style-position: inside;
/*	list-style: none;*/
}



h2{
	background-color: #146aff;
	border: 1px solid #146aff;
	display: inline-block; /* THIS WORKS ATM */
/*	display: inline-table;*/
	text-align: center;
}

h3{
	pointer-events: none;
}

/*ul {
text-align: center;
}

li {
text-align: center;
}*/


#MoreResources{
	margin-left: 20px;
	margin-right: 20px;
}

.Footer{
	background-color: #c4c4af;
	border: 2px solid #c4c4af;

/*	Padding*/
	padding-left: 2px;
}